nav ul a,
nav .brand-logo {
  color: #FFFFFF;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #FFFFFF;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.calimd-appbar {
  box-shadow: 0 2px 16px 0px #fb68817a
}

.mdui-theme-primary-calibur .mdui-color-theme {
  color: #fff !important;
  background-color: #fb6881 !important;
}

.mdui-theme-accent-calibur .mdui-color-theme-accent {
  color: #fff !important;
  background-color: #fb6881 !important;
}

.calibur-color-pink {
  color: #fff !important;
  background-color: #fb6881 !important;
}

.mdui-theme-primary-calibur .mdui-text-color-theme {
  color: #fb6881 !important;
}

.bold {
  font-weight: bold;
}

.mdui-tab .mdui-tab-active {
  color: #fb6881 !important;
}

.mdui-checkbox input[type=checkbox]:checked+.mdui-checkbox-icon::after {
  background-color: #fb6881 !important;
  border-color: #fb6881 !important;
  border-top-color: #fb6881 !important;
  border-right-color: #fb6881 !important;
  border-bottom-color: #fb6881 !important;
  border-left-color: #fb6881 !important;
}

.mdui-radio-icon::before {
  background-color: #fb6881 !important
}

.mdui-radio input[type=radio]:checked+.mdui-radio-icon {
  border-color: #fb6881 !important;
  border-top-color: #fb6881 !important;
  border-right-color: #fb6881 !important;
  border-bottom-color: #fb6881 !important;
  border-left-color: #fb6881 !important;
}

.mdui-tab-indicator {
  background-color: #fb6881 !important
}